.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 0;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #c94288;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #7bb7bc;
  margin: 0;
}
